#main-container{
    position: relative;
}

.navbar{
    position: absolute;
    left: 0px;
}
#page-container{
    background-color: #f6f6f6;
    margin-top: 100px;
    max-width: 80%;

}

.nav-item{
    /*background-color: white;*/
}

.nav-item {
    /*border: 3px solid #73AD21;*/
    /*transform: perspective(.5em) rotateX(5deg);*/
    /*transform: rotate(2deg);*/
   
}


.nav-item:first-child {
    border-bottom-left-radius: 30px 10px;
    border-top-right-radius: 30px 10px;
}
a:visited {
    color: green;
  }