#main-container{
    position: relative;
}

#page-container{
    background-color: #f6f6f6;
    /* margin-top: 100px; */
    max-width: 80%;

}

ul {
   position: relative;
   padding: 0;
   margin:0;
    
}

.navbar{
    display: flex;
    align-self: flex-start;
    padding-left: 115px;
    gap: 20px;
    padding: 20;
    margin:0;
}
.nav-item {
        
        width: 70px;
        height: 50px;
        background: grey;
        transform: perspective(10px) rotateX(1deg);
        margin-right: 5px;
        color: whitesmoke;
   
}

a {
    text-align: center;
    color: white;
}

